@use 'config' as *;

.card-container {
    margin-top: .2em;
    display: grid;
    grid-gap: 1em;
}

.card {
    position: relative;
    background: var(--card-bg);
    border-radius: 5px;
    padding: 2.35em 0;
    text-align: center;

    &__acount {
        margin-left: .5em;
        font-size: .75rem;
        font-weight: 700;
        color: var(--text1);
    }
    
    &__total {
        font-size: 3.4rem;
        font-weight: 700;
        color: var(--text2);
        margin-bottom: .05em;
    }
    
    &__followers {
        text-transform: uppercase;
        letter-spacing: .27em;
        color: var(--text1);
    }
    &__increase {
        color: $grow;
        font-weight: 700;
    }
    &__decrease {
        font-weight: 700;
        color: $decrease;
    }
    &__increace-icon {
        margin-right: .15em;
    }

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        top: 0;
        left: 0;
        background: black;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &--facebook::before {background: $facebook;}
    
    &--twitter::before {background: $twitter;}

    &--instagram::before {background: $instagram;}

    &--youtube::before {background: $youtube;}
}

.card-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2em;
}

.card-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.55em;
}